<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="{{ '/index' | relative_url }}" class="navbar-logo">Accueil</a>
                <a href="{{ '/fpr' | relative_url }}" class="navbar-logo">FPR</a>
                <a href="{{ '/taj' | relative_url }}" class="navbar-logo">TAJ</a>
                <a href="{{ '/annuaire' | relative_url }}" class="navbar-logo">Annuaire</a>
                <a href="{{ '/lrp' | relative_url }}" class="navbar-logo">LRP</a>
                <a href="{{ '/lua-lib' | relative_url }}" class="navbar-logo">Lua Lib</a>
            </div>
        </nav>
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer>
        <p>&copy; 2025 BOYER David & COZE Sébastien. Tous droits réservés.</p>
    </footer>
</body>
</html>
